@import "base/vars/globals";

html {

	height: 95vh!important;

	body{

		min-height: 90vh!important;

		background: #f6f6fa;;

		div.ui.left.sidebar.inverted.vertical.labeled.page.menu {

			width: 240px;
			display:block;
			height:95vh !important;
			padding-top:64px !important;

			div.sidebar-container {
				margin-top:10%;
				color:white;

				img {
					margin-top:2%;
				}
			}
		}

		div.pusher {

			header {
				div.ui.fixed.top.attached.menu {
					height:65px;
					margin-top:0;
					background-color: #67b4f7;

					a.item:before {
						width: 0!important;
					}

					a.site-logo {
						img {
							width: 100px;
							margin-top: 22px;
						}
					}
				}
			}

			div.content {

				div.hostel-wrapper {
					margin-top: 75px;
					min-height: 90vh;
					margin-left: 10px;
					margin-right: 10px;

					.has-value {
						border-color: #67b4f7!important;
					}

					div.ui.calendar {
						padding: 10px;
					}

					div.page-header {
						color: white;
						font-size: 1em;
						line-height: 0.8em;
						padding: 18px;
						background-color: #67b4f7;
						width: 100%;

						a.add-item {
							cursor: pointer;
							color: white;
							float: right;
							font-size: 1em;
							text-decoration: underline;
						}
					
					}

					form.ui.login.form, form.ui.signup-form.form {
						border: 2px solid gray;
						margin-top: 8%;
						background-color: white;
						padding: 20px;

						a {
							color: white;
						}
					
					}

					div.ui.container {
						margin: 0;
						margin-bottom: 50px;
						width: 100%;
						min-height: 500px;
						background:  url('../images/hostel.jpg') no-repeat center center;

						div.ui.search {
							margin-top: 50px;
							
							div.ui.input.icon {
								width: 100%;
							}
						}
					
					}

					div.profile {
						div.ui.grid {
							img {
								max-height: 200px;
							}
						}

						div.fluid.menu {
							a.item {
								// height: 50px;

								i.icon {
									font-size: 17px;
									float: left;
									margin-right: 45px;
									width: 0!important;
								}

								// span {
								// 	font-size: 17px;
								// }

							}
						}
					}

					div.ui.segment.hostels {

						a.add.card {
						 
							span {
								padding-top: 40%;
						 		text-align: center;
							}
						}
					}

					div.ui.link.cards {
						margin: 15px;
					}

					div.main-container.segment {
						min-height: 650px;
					}

					div.ui.modal {

						div.content {

							div.ui.fluid.buttons {
								
								button.ui.button {
									padding: 10px !important;
								}

							}

							div.ui.fluid.labeled.button {

								padding: 10px;

								a {
									color: white;
									padding: 10px;
								}
							}
						}
					
					}

					div.ui.segment.hosteldetail {

						div.ui.grid {

							div.owl-carousel {
								// margin-bottom: 100px;

								div.owl-stage-outer {
									overflow: visible!important;
								}

								div.item {
									img {
										max-height: 400px !important;
										padding: 20px;
										// max-width: 1000px !important;
									}
								}

								div.owl-nav {
									// position: absolute;
									margin-top: -200px;
									text-align: -webkit-center;

									i.icon {
										padding: 4px;
									}

									button.owl-prev {
										position: absolute;
										z-index: 100;
										background: #fcfcfc;
										border: 1px solid gray;
										color: #0a9be0;
										left: 50px;
										font-size: 2em;
									}

									button.owl-next {
										position: absolute;
										color: #0a9be0;
										z-index: 100;
										background: #fcfcfc;
										border: 1px solid gray;
										right: 50px;
										font-size: 2em;
									}
								}
							
							}
						}
						
					
					}

					div.ui.segment.add-update-hostel {

						margin-left: 5%;
						margin-right: 5%;
						margin-bottom: 5%;

						div.hostel-images {

							i.remove.icon {
								cursor: pointer;
							}
						}
					
					}

					.blue {
					  background-color: #3498db;  
					}
					.feedback {
					  font-size: 14px;
					  color: #b1b1b1;
					}

					div.ui.segment.profile {
						min-height: 500px;
					}

					div.room-number {
						cursor: pointer;
						margin-left: 20px;
						text-align: center;
						border-radius: 12px;
						margin-bottom: 10px;
						border: 1px solid gray;
					}

					i.close.icon {
						color: red;
					    margin: 37px;
					}

					// Tenant Page

					div.segment.tenants {

						div.accordion {

							div.title {

							}
							div.content {

								a.ui.add.card {
									span {
										padding-top: 45%;
										padding-bottom: 45%;
								 		text-align: center;
									}
								}
							}

						}
					}


				}
			}

			footer {
				bottom: 0;
				height: 25px;
				width: 100%;
				position: relative;
				background-color: lightgray;
			}
		}
	}
}
