{% load static from staticfiles %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forgot Password</title>
	<link rel="stylesheet" href="{% static 'vendor/semanticui/semantic.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/forgotpassword.min.css' %}">
	<script type="text/javascript">
		var onloadCallback = function() {
			grecaptcha.render('recaptcha', {
				'sitekey' : '6LcAKjwUAAAAACcdbbee7uL1s4f7v-PbKcx2e5np'
			});
	  	};
	</script>
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>
<body>
	<div class="form-container">
		<div class="brand">
			{% if request.tenant.logo %}
				<img src="{{ request.tenant.logo.url }}" class="brand-logo">
			{% else %}
				<img src="{% static 'images/logos/brand.png' %}" alt="" class="brand-logo">
			{% endif %}
		</div>
		{% if not email_sent %}
			<div class="header">Forgot your password? Just provide your email</div>
			<form action="{{ action }}" class="ui forgot-password form" method="post">
				<div class="field">
					<input type="text" name="email" required="required" placeholder="Username" autofocus="">
					<label for="">{% trans 'Your Registered Email' %}</label>
					<i class="bottom-bar"></i>
				</div>
				<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcAKjwUAAAAACcdbbee7uL1s4f7v-PbKcx2e5np"></div>
				<div class="field">
					{% csrf_token %}	
					<input type="submit" value="Continue" class="ui uppercase submit blue fluid button">
				</div>
			</form>
			{% if message %}
				<div class="message">
					<i class="circle info sign"></i>
					<span>{{ message }}</span>
				</div>
			{% endif %}
			{% if messages %}
				<div class="warning">
					<i class="warning sign icon"></i>
					<span>{% for message in messages %}{{ message }}{% endfor %}</span>
				</div>
			{% endif %}			
			{% if form.errors %}
				<div class="errors">
					<i class="ban icon"></i>
					<span></span>
				</div>
			{% endif %}
		{% else %}
			<div class="header">Forgot Your Password?</div>
			<div class="message">{{ message }}</div>
		{% endif %}
	</div>
</body>
</html>