{% load static from staticfiles %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% trans "Reset Password" %}</title>
	<link rel="stylesheet" href="{% static 'vendor/semanticui/semantic.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/forgotpassword.min.css' %}">
</head>
<body>
	{% if is_pwd_reset_complete %}
		<div class="form-container">
			<div class="brand">
				{% if request.tenant.logo %}
					<img src="{{ request.tenant.logo.url }}" class="brand-logo">
				{% else %}
					<img src="{% static 'images/logos/brand.png' %}" alt="" class="brand-logo">
				{% endif %}
			</div>
			<h4="ui medium header"><i class="check circle green icon"></i> {% trans "Your password has been reset successfully" %}</h4>
			<div class="ui hidden divider"></div>
			<a href="{% url 'common:login' %}" class="ui tiny uppercase submit blue fluid button">{% trans "Continue to Login" %}</a>
		</div>
	{% else %}		
		<div class="form-container">
			<div class="brand">
				{% if request.tenant.logo %}
					<img src="{{ request.tenant.logo.url }}" class="brand-logo">
				{% else %}
					<img src="{% static 'images/logos/brand.png' %}" alt="" class="brand-logo">
				{% endif %}
			</div>
			<div class="header">{% trans "Setup your new password" %}</div>

			<div class="ui message">
				<div class="header">Instructions</div>
				{% if password_policy %}
					<ul class="ui list">
						{% if password_policy.min_length %}
							<li class="item">Password must be of atleast
								<b>{{ password_policy.min_length }}</b> characters
							</li>
						{% endif %}
						{% if password_policy.max_length %}
							<li class="item">Password must be of at most
								<b>{{ password_policy.max_length }}</b> characters
							</li>
						{% endif %}
						{% if password_policy.is_mixed_case %}
							<li class="item">Password must be a combination of lower and uppercase case characters</li>
						{% endif %}
						{% if password_policy.has_atleast_one_special_char %}
							<li class="item">Password must be have at least one special character</li>
						{% endif %} 
						{% if password_policy.should_be_alphanumeric %}
							<li class="item">Password must be alphanumeric</li>
						{% endif %}
					</ul>
				{% else %}
					<ul class="ui list">
						<li class="item">Provide a password of atleast 8 characters and maximum of 24 characters</li>
						<li class="item">Password must contain letters in both the cases, at least one special character and a number</li>
					</ul>
				{% endif %}
		   	</div>

			<form action="{{ action }}" class="ui forgot-password form" method="post">
				<div class="field">
					<input type="password" name="password" required="required" autofocus="">
					<label for="">{% trans 'Password' %}</label>
					<i class="bottom-bar"></i>
				</div>
				<div class="field">
					<input type="password" name="confirmation" required="required" autofocus="">
					<label for="">{% trans 'Type Password Again' %}</label>
					<i class="bottom-bar"></i>
				</div>
				<div class="field">
					{% csrf_token %}	
					<input type="hidden" name="token" value="{{ token }}">
					<input type="hidden" name="email" value="{{ email }}">
					<input type="submit" value="Continue" class="ui tiny uppercase submit blue fluid button">
				</div>
			</form>
			{% if messages %}
				<div class="warning">
					<i class="warning sign icon"></i>
					<span>{% for message in messages %}{{ message }}{% endfor %}</span>
				</div>
			{% endif %}			
			{% if form.errors %}
				<div class="errors">
					<i class="ban icon"></i>
					<span></span>
				</div>
			{% endif %}
		</div>
	{% endif %}
</body>
</html>